
@{
    ViewBag.Title = "Contacts";
}
@*Mandatory Line*@

<noscript style="color:red">Enable Javascript on your Browser for optimum functionality...</noscript>
<h2>@ViewBag.Title</h2>

<address style="color:red;">
    IPC Mumbai<br />
    Search Annotation<br />
</address>

<p>
    For any Error occured,
    Send a mail to : <a href="mailto:abhay.pandey@here.com">abhay.pandey@here.com</a>
    <br />
    <br />
</p>